.dashboard{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.search-menu{
    padding-left: 30px;
}

.text {
    width: 192px;
}

.search-menu button{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 196px;
    margin-top: 10px;
}

.location ul {
    padding: 5px;
    list-style-type: none;
}

.title {
    padding-left: 40px;
    padding-top: 40px;
} 

.five-day{
    display: flex;
    padding: 30px;
} 

main {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.whole-body {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 768px){
    .whole-body {
        flex-direction: column;
    }

    main {
        padding-left: 20px;
    }

    .five-day {
        flex-direction: column;
        width: 190px;
        margin-left: 60px;
    }

    .location {
        text-align: center;
    }

    .title {
        padding-left: 100px
    }

    .search-menu {
        padding-left: 80px
    }
}