* {
    font-family: sans-serif;
}

.dashboard{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #003A6B;
    color: #E8EAF6;
}

.search-menu{
    padding-left: 30px;
}

.text {
    width: 192px;
    height: 20px;
}

.search-menu button{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 196px;
    margin-top: 10px;
}

.location ul {
    padding: 5px;
    list-style-type: none;
}

.title {
    padding-left: 40px;
    padding-top: 50px;
} 

.five-day{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
} 

main {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.whole-body {
    display: flex;
    flex-direction: row;
}

button {
    background-color: #6EB1D6;
    border-style: none;
    padding: 2px;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .whole-body {
        flex-direction: column;
    }

    main {
        padding-left: 20px;
    }

    .five-day {
        flex-direction: column;
        width: 190px;
        margin-left: 55px;
    }

    .location {
        text-align: center;
    }

    .title {
        padding-left: 90px
    }

    .search-menu {
        padding-left: 80px
    }

    .text {
        height: 12px;
    }

    .location {
        padding-top: 10px;
    }
}